# Normalize line endings
* text=auto

# Shell scripts with LF endings
*.sh text eol=lf

# Ignore these in GitHub release archives
.gitignore export-ignore
.gitattributes export-ignore
.github/ export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
RELEASE.md export-ignore
README.md export-ignore
*.md export-ignore
